.control-panel {
  display:none;
  z-index: 5;
  border-style: solid;
  border-color: black;
  position: absolute;
  background-color: white;
  padding: 1em;
}

#page-title {
  font-size: 14pt;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 1em;
}

.not-autosaved {
  color: red;
}

#main-menu {
  left: 0px;
  top: 0px;
  background-color: white;
  padding: 0.5em;
}

#import-image-controls {
  left: 20px;
  top: 360px;
}

#layer-controls {
  left: 20px;
  top: 450px;
}

canvas {
  border-style:solid;
}

.floaty {
  float: left;
}

.floatr {
  float: right;
  padding-left: 0.5em;
}

.tiny {
  font-size: 10pt;
}

.progress-bar-outer {
  display: none;
  position: relative;
  left: 0px;
  top: 6px;
  height: 16px;
  padding: 0em;
  border-color: black;
  border: solid;
  border-width: 1px;
}

.progress-bar-inner {
  background-color: red;
  height: 16px;
  margin: 0px;
}