.control-panel {
  display:none;
  z-index: 5;
  border-style: solid;
  border-color: black;
  position: absolute;
  background-color: white;
  padding: 1em;
}

#page-title {
  font-size: 14pt;
  font-weight: bold;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  color: blue;
}

#main-menu {
  left: 0px;
  top: 0px;
  border-style: solid;
  border-color: black;
  background-color: white;
  padding: 0.5em;
}

#main-menu img {
  padding-left: 0.5em;
}

#import-image-controls {
  left: 20px;
  top: 360px;
}

#layer-controls {
  left: 20px;
  top: 450px;
}

canvas {
  border-style:solid;
}

.floaty {
  float: left;
}